<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-status-bar-style" content="black">
  <link rel="manifest" href="/manifest.json">
  <link type="text/css" rel="stylesheet" href="./hero_detail.css">
</head>
<body>

  <header>
    <img id="arrow_left" src="./icon/arrow-left.svg" width="20px"/>
    <h1>Abaddon</h1>
  </header>

  <nav>
    <p id="spell_tab">SPELLS</p>
    <p id="about_tab">ABOUT</p>
  </nav>
  
  <main>
    
  </main>


<script type="text/javascript" src="./hero_detail.js"></script>
</body>
</html>














